<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Python meetup #2</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- 'date', 'freight', 'declare_value', 'cargo_kind', 'weight', 'volume', 'probability' -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Дата </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="freight">
      <th mat-header-cell *matHeaderCellDef> Стоимость перевозки </th>
      <td mat-cell *matCellDef="let element"> {{element.freight}} </td>
    </ng-container>
  
    <ng-container matColumnDef="declared_value">
      <th mat-header-cell *matHeaderCellDef> Объявленая стоимость </th>
      <td mat-cell *matCellDef="let element"> {{element.declared_value}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cargo_kind">
      <th mat-header-cell *matHeaderCellDef> Тип груза </th>
      <td mat-cell *matCellDef="let element"> {{element.cargo_kind}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Вес </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef> Объём </th>
      <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
    </ng-container>

    <ng-container matColumnDef="probability">
      <th mat-header-cell *matHeaderCellDef> Вероятность претензии <br> нет - сроки - грузы </th>
      <td mat-cell *matCellDef="let element"> <div *ngIf="element.probability_0 || element.probability_cargo || element.probability_delay">{{element.probability_0}}% - {{element.probability_cargo}}% - {{element.probability_delay}}% </div></td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Расчёт </th>
      <td mat-cell *matCellDef="let element">  <button mat-icon-button (click)="getProb(element)">
        <mat-icon>published_with_changes</mat-icon>
      </button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</mat-card>